<div class="row">
	<div class="col-md-6">
		<general-error data-ng-show="(vm.generalErrors.length > 0)" errors="vm.generalErrors"></general-error>
		
		<div class="well">
			<form class="form-horizontal" name="frmCP" novalidate data-ng-submit="vm.submit(frmCP);">
				<fieldset>
					<legend>Change Password</legend>

					<div class="form-group">
						<p data-ng-show="vm.validate('newPass', frmCP);" 
						   class="validation-message pull-right">{{vm.validation.newPass}}</p>						
					</div>

					<div class="form-group">
						<label for="newPass" class="col-md-4 control-label">New Password</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="New Password..."
							       type="password"
							       name="newPass" 
							       required 
							       data-ng-model="vm.formData.newPass">

							</input>
						</div>	
					</div>
					
					<div class="form-group">
						<p data-ng-show="vm.validate('confirmPass', frmCP);" 
						   class="validation-message pull-right">{{vm.validation.confirmPass}}</p>
					</div>

					<div class="form-group">
						<label for="confirmPass" class="col-md-4 control-label">Confirm Password</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="Confirm Password..."
							       type="password"
							       name="confirmPass" 
							       required 
							       data-ng-model="vm.formData.confirmPass">
							</input>
						</div>	
					</div>

					<div class="form-group">
	                    <div class="col-md-8 col-md-offset-4">
	                      <a data-ng-href="/#/" type="reset" class="btn btn-default">Cancel</a>
	                      <button type="submit" class="btn btn-primary">Submit</button>
	                    </div>
					</div>

				</fieldset>
			</form>				
		</div>
	</div>
</div>