<div class="row">
	<div class="col-md-6">
		<div class="well">
			<form class="form-horizontal" name="frmCP" novalidate data-ng-submit="vm.submit(frmCP);">
				<fieldset>
					<legend>Change Password</legend>

					<div class="form-group">
						<label for="newPass" class="col-md-4 control-label">New Password</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="New Password..."
							       type="password"
							       name="newPass" 
							       required >
							</input>
						</div>	
					</div>

					<div class="form-group">
						<label for="confirmPass" class="col-md-4 control-label">Confirm Password</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="Confirm Password..."
							       type="password"
							       name="confirmPass" 
							       required >
							</input>
						</div>	
					</div>

					<div class="form-group">
	                    <div class="col-md-8 col-md-offset-4">
	                      <button type="reset" class="btn btn-default">Cancel</button>
	                      <button type="submit" class="btn btn-primary">Submit</button>
	                    </div>
					</div>

				</fieldset>
			</form>				
		</div>
	</div>
</div>