<div class="row">
	<div class="col-md-4">
		<art-side-panel title="'My Requests'" items="vm.myRequests"></art-side-panel>	
		<art-side-panel title="'Awaiting My Action'" items="vm.awaitingMyAction"></art-side-panel>	
	</div>

	<div class="col-md-8">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-md-12">
					<input class="form-control" 
					       placeholder="Search..."
					       type="text"
					       name="search" 
					       required 
					       data-ng-model="vm.searchText" >
				</div>	
			</div>
		</form>

		<div class="table-responsive project-table">
			<table class="table table-condensed">
				<tbody>
					<tr data-ng-repeat="project in vm.projects | orderBy: 'applicationName'">
						<td>
							<div class="project-entry">
								<strong><h3><a class="text-primary" data-ng-href="/#/project/{{project._id}}">{{project.applicationName}}</a></h3></strong>
								<p><small><strong>Project ID:</strong> {{project.projectId}}</small></p>
								<p><small>{{project.description}}</small></p>
								<hr>
								<p>
									<a data-toggle="collapse" 
									   data-target="#problem-entry-{{$index}}" 
									   href="">(0) Problem Requests</a>&nbsp;| 
									<a href="" class="text-danger"> New Problem*</a>
								</p>
								<ul class="list-group collapse"  id="problem-entry-{{$index}}">
								  <li class="list-group-item">Cras justo odio</li>
								  <li class="list-group-item">Dapibus ac facilisis in</li>
								  <li class="list-group-item">Morbi leo risus</li>
								  <li class="list-group-item">Porta ac consectetur ac</li>
								  <li class="list-group-item">Vestibulum at eros</li>
								</ul>
								<p>
									<a data-toggle="collapse" 
									   data-target="#change-entry-{{$index}}" 
									   href="">(0) Change Requests</a>&nbsp;&nbsp;&nbsp;| 
									<a href="" class="text-danger"> New Change*</a>
								</p>
								<ul class="list-group collapse" id="change-entry-{{$index}}">
								  <li class="list-group-item">Cras justo odio</li>
								  <li class="list-group-item">Dapibus ac facilisis in</li>
								  <li class="list-group-item">Morbi leo risus</li>
								  <li class="list-group-item">Porta ac consectetur ac</li>
								  <li class="list-group-item">Vestibulum at eros</li>
								</ul>
							</div>						
						</td>
					</tr>				
				</tbody>

			</table>			
		</div>
	</div>

</div>