<div class="row login-form">
	<div class="col-md-6 col-md-offset-3">
		<h3 class="center"><b>Log in to Automation Request Tool</b></h3>

		<form name="loginForm" ng-submit="vm.authenticate(loginForm);" novalidate>

			<div data-ng-show="(vm.validation.length > 0)" class="alert alert-warning">
				<ul class="validation-messages">
					<li data-ng-repeat="validation in vm.validation">{{validation}}</li>
				</ul>			
			</div>

			<div class="form-group">
				<label for="email"></label>
				<input data-ng-model="vm.formData.email"
					   class="form-control" 
					   type="email" 
					   name="email" 
					   placeholder="Email..."
					   required >
			</div>

			<div class="form-group">
				<label for="password"></label>
				<input data-ng-model="vm.formData.password"
					   class="form-control" 
					   type="password" 
					   name="password" 
					   placeholder="Password..."
					   required >
			</div>

			<input type="submit" 
				   value="{{vm.loginCaption}}"
				   class="form-control btn btn-success" 
				   data-ng-disabled="vm.authenticating"
				   >
		</form>

	</div>
</div>