<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<form class="form-horizontal" name="frmProject" novalidate data-ng-submit="vm.submit(frmProject);">
				<fieldset>

					<legend>Project | {{vm.formLabel}}</legend>

					<div class="form-group" data-ng-show="!vm.newProject">
						<label for="projectId" class="col-md-4 control-label">Project ID</label>
						<div class="col-md-8">
							<input class="form-control" 
							       type="text" value="{{vm.formData.projectId}}"
							       name="projectId"
							       data-ng-readonly="true" >
						</div>	
					</div>

					<div class="form-group" data-ng-show="!vm.newProject">
						<label for="requester" class="col-md-4 control-label">Requested By</label>
						<div class="col-md-8">
							<input class="form-control" 
							       type="text" value="{{vm.formData.requester.fullname}}"
							       name="requester"
							       data-ng-readonly="true">
						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('applicationName', frmProject);" >
						<p class="validation-message pull-right">{{vm.validation.applicationName}}</p>						
					</div>

					<div class="form-group">
						<label for="applicationName" class="col-md-4 control-label">* Application Name</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="Please enter application name..."
							       type="text"
							       name="applicationName" 
							       required 
							       data-ng-model="vm.formData.applicationName" >
						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('description', frmProject);" >
						<p class="validation-message pull-right">{{vm.validation.description}}</p>						
					</div>

					<div class="form-group">
						<label for="description" class="col-md-4 control-label">* App Purpose / Description</label>
						<div class="col-md-8">
							<textarea class="form-control" rows="5" name="description" required data-ng-model="vm.formData.description" placeholder="Please enter app urpose / description..."></textarea>
						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('version', frmProject);">
						<p class="validation-message pull-right">{{vm.validation.version}}</p>						
					</div>

					<div class="form-group">
						<label for="version" class="col-md-4 control-label">* App Version</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="Please enter app version..."
							       type="text"
							       name="version" 
							       required 
							       data-ng-model="vm.formData.version" >
						</div>	
					</div>

					<div class="form-group">
						<label for="version" class="col-md-4 control-label">Currently Deployed?</label>
						<div class="col-md-8">

							<div class="radio">
								<label>
									<input data-ng-model="vm.formData.isDeployed" type="radio" 
									       name="isDeployed" data-ng-value="true">Yes
								</label>
							</div>

							<div class="radio">
								<label>
									<input data-ng-model="vm.formData.isDeployed" type="radio" name="isDeployed" data-ng-value="false">No
								</label>
							</div>

						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('serverName', frmProject);" 
						 data-ng-if="vm.formData.isDeployed" >
						<p class="validation-message pull-right">{{vm.validation.serverName}}</p>						
					</div>

					<div data-ng-if="vm.formData.isDeployed" class="form-group">
						<label for="serverName" class="col-md-4 control-label">* Server Name</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="Please enter server name..."
							       type="text"
							       name="serverName" 
							       required 
							       data-ng-model="vm.formData.serverName" >
						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('filePath', frmProject);"
						 data-ng-if="vm.formData.isDeployed" >
						<p class="validation-message pull-right">{{vm.validation.filePath}}</p>						
					</div>

					<div data-ng-if="vm.formData.isDeployed" class="form-group">
						<label for="filePath" class="col-md-4 control-label">* File Path</label>
						<div class="col-md-8">
							<input class="form-control" 
							       placeholder="Please enter app file path..."
							       type="text"
							       name="filePath" 
							       required 
							       data-ng-model="vm.formData.filePath" >
						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('businessOwners', frmProject);">
						<p class="validation-message pull-right">{{vm.validation.businessOwners}}</p>						
					</div>

					<div class="form-group">
						<label for="businessOwners" class="col-md-4 control-label">* Business Owner(s)</label>
						<div class="col-md-8">
							<ui-select multiple ng-model="vm.formData.businessOwners" name="businessOwners" theme="bootstrap">
							    <ui-select-match placeholder="Select business owner...">
							    	{{$item.fullname}} &lt;{{$item.email}}&gt;
							    </ui-select-match>
							    <ui-select-choices refresh="vm.pullUsers($select.search)" refresh-delay="0" repeat="user in vm.users | filter: $select.search">
							        <div ng-bind-html="user.fullname | highlight: $select.search"></div>
							        <div class="text-muted" ng-bind-html="user.email"></div>
							    </ui-select-choices>
							</ui-select>
						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('developers', frmProject);">
						<p class="validation-message pull-right">{{vm.validation.developers}}</p>						
					</div>

					<div class="form-group">
						<label for="developers" class="col-md-4 control-label">* Developer(s)</label>
						<div class="col-md-8">
							<ui-select multiple ng-model="vm.formData.developers" name="developers" theme="bootstrap">
							    <ui-select-match placeholder="Select developers...">
							    	{{$item.fullname}} &lt;{{$item.email}}&gt;
							    </ui-select-match>
							    <ui-select-choices refresh="vm.pullUsers($select.search)" refresh-delay="0" repeat="user in vm.users | filter: $select.search track by user.fullname">
							        <div ng-bind-html="user.fullname | highlight: $select.search"></div>
							        <div class="text-muted" ng-bind-html="user.email"></div>
							    </ui-select-choices>
							</ui-select>
						</div>	
					</div>

					<div class="form-group" data-ng-show="vm.validate('supports', frmProject);">
						<p class="validation-message pull-right">{{vm.validation.supports}}</p>						
					</div>

					<div class="form-group">
						<label for="supports" class="col-md-4 control-label">* Support(s)</label>
						<div class="col-md-8">
							<ui-select multiple ng-model="vm.formData.supports" name="supports" theme="bootstrap">
							    <ui-select-match placeholder="Select supports...">
							    	{{$item.fullname}} &lt;{{$item.email}}&gt;
							    </ui-select-match>
							    <ui-select-choices refresh="vm.pullUsers($select.search)" refresh-delay="0" repeat="user in vm.users | filter: $select.search track by user.fullname">
							        <div ng-bind-html="user.fullname | highlight: $select.search"></div>
							        <div class="text-muted" ng-bind-html="user.email"></div>
							    </ui-select-choices>
							</ui-select>
						</div>	
					</div>

					<div class="form-group">
	                    <div class="col-md-8 col-md-offset-4">
	                      <button type="reset" class="btn btn-default" data-ng-click="vm.back()">Cancel</button>
	                      <button type="submit" class="btn btn-primary">Submit</button>
	                    </div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</div>