<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped table-condensed">
			
				<thead>
					<th>Name</th>
					<th>Email</th>
					<th></th>
				</thead>

				<tbody>

					<tr data-ng-repeat="user in vm.users">
						<td>{{user.fullname}}</td>
						<td>{{user.email}}</td>
						<td>{{(user.admin ? 'Yes' : 'No')}}</td>						
						<td>
							<a class="btn btn-default pull-right">Delete</a>					
							<a class="btn btn-primary pull-right">Edit</a>
						</td>						
					</tr>

				</tbody>

			</table>			
		</div>
	</div>
</div>