<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<label>Search: <input ng-model="vm.searchText"></label>
		<div class="table-responsive">
			<table class="table table-striped table-condensed change-tbl">
			
				<thead>
					<th>CR Number</th>
					<th>Application Name</th>
					<th>Request Summary</th>
					<th>Status</th>
					<th>Target Date</th>
					<th>Current Approver</th>				
				</thead>

				<tbody>
				
					<tr data-ng-repeat="change in vm.changes | orderBy: 'project.applicationName' | filter: vm.searchText | startFrom: (vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize">
						<td><a data-ng-href="/#/change/{{change._id}}">
							{{change.changeNumber}}</a>					
						</td>
						<td>{{change.project.applicationName}}</td>						
						<td>{{change.requestSummary | limitTo: 50}}
							{{(change.requestSummary.length > 50 ? '...' : '')}}</td>
						<td>{{change.status}}</td>
						<td>{{change.targetDeployment | date: MM-DD-YYYY}}</td>
						<td>{{vm.getNames(change.processOwner)}}</td>
					</tr>

				</tbody>

			</table>	

		</div>

		<pagination total-items="vm.changes.length" 
					page="vm.currentPage" 
					items-per-page="vm.pageSize" >
		</pagination>
	</div>
</div>