<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<label>Search: <input ng-model="vm.searchText"></label>
		<div class="table-responsive">
			<table class="table table-striped table-condensed problem-tbl">
			
				<thead>
					<th>PR Number</th>
					<th>Application Name</th>
					<th>problem Summary</th>
					<th>Status</th>
					<th>Target Date</th>
					<th>Assigned Support</th>				
				</thead>

				<tbody>
				
					<tr data-ng-repeat="problem in vm.problems | orderBy: 'project.applicationName' | filter: vm.searchText | startFrom: (vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize">
						<td><a data-ng-href="/#/problem/{{problem._id}}">
							{{problem.problemNumber}}</a>					
						</td>
						<td>{{problem.project.applicationName}}</td>						
						<td>{{problem.problemSummary | limitTo: 50}}
							{{(problem.problemSummary.length > 50 ? '...' : '')}}</td>
						<td>{{problem.status}}</td>
						<td>{{problem.targetFixDate | date: MM-DD-YYYY}}</td>
						<td>{{vm.getNames(problem.assignedSupport)}}</td>
					</tr>

				</tbody>

			</table>	

		</div>

		<pagination total-items="vm.problems.length" 
					page="vm.currentPage" 
					items-per-page="vm.pageSize" >
		</pagination>
	</div>
</div>