<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">

			<button type="button" 
					class="navbar-toggle collapsed" 
					data-toggle="collapse" 
					data-target="#app-nav-links" 
					aria-expanded="false" >
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
		    </button>

			<a class="navbar-brand" ng-href="/#/"><img src="app/img/IBMLogo.jpg" /></a>
			<p class="navbar-text"><strong class="text-primary">AUTOMATION REQUEST TOOL V2.0</strong> </p>
		</div>

		<div class="collapse navbar-collapse" id="app-nav-links">

			<ul class="nav navbar-nav navbar-right" data-ng-show="vm.showMenu">

				<!-- About / FAQs -->
				<li><a data-ng-href="/#/">Home</a></li>

				<!-- Actions -->
				<li class="dropdown">
					<a class="dropdown-toggle"
					   data-toggle="dropdown"
					   role="button"
					   aria-haspopup="true"
					   aria-expanded="false">Actions<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a data-ng-href="/#/project/new">Request New Tool</a></li>
						<li><a data-toggle="modal" 
						       data-target="#projectDialog"
						       data-ng-click="vm.setResource('project', 'Create CR');">File Enhancement (CR)</a></li>
						<li><a data-ng-click="vm.setResource('problem', 'Create PR');"
							   data-toggle="modal" 
						       data-target="#projectDialog"
						       >Raise Tool Issue (PR)</a></li>
					</ul>

				<!-- Summary Views -->
				<li class="dropdown">
					<a class="dropdown-toggle"
					   data-toggle="dropdown"
					   role="button"
					   aria-haspopup="true"
					   aria-expanded="false">Summary Views<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a data-ng-href="/#/projects">Project Forms</a></li>
						<li><a>Change Requests</a></li>
						<li><a data-ng-href="/#/problems">Problem Reports</a></li>
					</ul>

				<!-- About / FAQs -->
				<li><a data-ng-href="/#/about">About &amp; FAQ's</a></li>

				<!-- Profile Actions -->
				<li class="dropdown">
					<a class="dropdown-toggle"
					   data-toggle="dropdown"
					   role="button"
					   aria-haspopup="true"
					   aria-expanded="false">
					<i class="fa fa-user" aria-hidden="true"></i>&nbsp;
					{{vm.session.fullname}}
					<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li ng-show="vm.session.admin">
							<a data-ng-href="/#/users">
								<i class="fa fa-users" aria-hidden="true"></i>
								&nbsp;Manage Users
							</a>
						</li>
						<li>
							<a data-ng-href="/#/changepassword/{{vm.session.user}}/">
								<i class="fa fa-key" aria-hidden="true"></i>
								&nbsp;Change Password
							</a>
						</li>
						<li ng-show="vm.session.admin">
							<a data-ng-href="/#/settings/">
								<i class="fa fa-cog" aria-hidden="true"></i>
								&nbsp;Settings
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li><a href="#" ng-click="vm.logout()">Logout</a></li>
					</ul>

				</li>

			</ul>
		</div>

	</div>
</nav>

<art-projects-dialog id="projectDialog" 
					 class="modal fade" 
					 role="dialog"
					 dialog_title="vm.dialogTitle"
					 dialog_resource="vm.dialogResource" >
</art-projects-dialog>