<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<div class="panel-body">

				<ul data-ng-if="(items.length > 0)" class="side-panel-list">
					<li class="list-unstyled" data-ng-repeat="item in items">
						<a href="#">
							({{item.id}}) - {{item.description | limitTo: 20}}{{(item.description.length > 20 ? '...' : '')}}
						</a>
					</li>
				</ul>

				<em data-ng-if="(items.length == 0)" class="text-muted">(empty)</em>
			</div>
		</div>					
	</div>
</div>
