 <div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#about-faqs">FAQ's <span class="caret"></span></a>
      </h4>
    </div>
    <div id="about-faqs" class="panel-collapse collapse">
      <div class="panel-body">
      	
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><strong>Q: HOW TO REQUEST FOR A NEW TOOL?</strong></h4>
          </div>
          <div class="panel-body">
            <h5>Please follow the steps below:</h5>
            <ol>
              <li>From the navigation pane, click Request New Tool and fill up the necessary details.</li>
              <li>Inside the Project Form, click App Actions then Create CR.</li>
              <li>Indicate "New Automation Tool" in the Request Summary field.</li>
              <li>Click Submit.</li>
            </ol>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><strong>Q: WHERE CAN I SEE MY CHANGE REQUESTS / PROBLEM REPORTS?</strong></h4>
          </div>
          <div class="panel-body">
            <p>You can see them from the left navigation pane under My Views. You can also opt to view all change requests and/or problem reports that you have access to from the Summary Views</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><strong>HOW DO I MAKE A NEW CHANGE REQUEST / PROBLEM REPORT?</strong></h4>
          </div>
          <div class="panel-body">
            <h5>There are two ways to create a CR / PR:</h5>
            <p>Method #1: From the navigation pane</p>
            <ol>
              <li>Click either File Enhancement (CR) button or Raise Tool Issue (PR) button.</li>
              <li>A dialog box will appear containing a view of all the IIA apps/tools.</li>
              <li>Select a project document from the view. This will serve as the basis for your request/report.</li>
              <li>Click OK.</li>
            </ol>
            <p>Method #2: Within the Project Form</p>
            <ol><li>Click App Actions then click either Create CR or Create PR.</li></ol>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><strong>Q: IN PROJECT FORM, WHO SHOULD BE THE BUSINESS OWNER?</strong></h4>
          </div>
          <div class="panel-body">
            <p>Business Owner should be the person who will take ownership of the new tool that you are requesting. For more details, please reach out to <em>Mark Andrew L San Miguel/Philippines/IBM</em> or <em>Ralph John L Ramirez/Philippines/IBM</em>.</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><strong>Q: IN PROJECT FORM, I DON'T KNOW WHO SHOULD BE THE DEVELOPER AND/OR SUPPORT FOR THE NEW TOOL. WHAT SHOULD I DO?</strong></h4>
          </div>
          <div class="panel-body">
            <p>Click App Actions then Set Default Names to populate with default values.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>