/*NAV*/

.navbar-brand 
{
    padding-top: 2.5px;
}

/*LOGIN*/

.login-form input {
	font-size: 20px;
}

ul.validation-messages {
	font-style: italic;
}

/*CHANGE PASSWORD*/

p.validation-message {
	color: #ff0000;
	font-style: italic;
	padding-bottom: 0px;
	padding-right: 15px;
	margin-bottom: 0px;
}